@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'nunito';
    font-style: normal;
    src: url(/static/fonts/Nunito-Regular.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'nunito-light';
    src: url(/static/fonts/Nunito-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: 'Henny Penny';
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/HennyPenny-Regular.ttf) format('truetype');
    line-height: 1.2;
    font-display: swap;
  }

  a {
    @apply transition-colors text-primary-900 hover:text-secondary-600;
  }

  body {
    @apply box-border text-primary-900 bg-primary-900;
  }

  @media (min-width: 768px) {
    .scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #d11663 #5e1286;
    }
    .scrollbar::-webkit-scrollbar {
      width: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
      background: #5e1286;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      background-color: #d11663;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background-color: #fd2087;
    }
  }

  footer {
  }

  h1 {
    @apply leading-tight tracking-wide text-7xl font-heading;
  }
  h2 {
    @apply text-6xl leading-tight tracking-wide font-heading;
  }
  h3 {
    @apply text-5xl leading-tight tracking-wide font-heading;
  }
  h4 {
    @apply text-4xl leading-tight tracking-wide font-heading;
  }
  h5 {
    @apply text-3xl leading-tight tracking-wide font-heading;
  }
  h6 {
    @apply text-2xl leading-tight tracking-wide font-heading;
  }

  input {
    @apply w-full px-4 py-2 text-base border rounded-md shadow-md appearance-none text-basics-600 placeholder-basics-400 border-basics-200 bg-basics-050 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:border-transparent;
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-2 font-bold leading-loose transition duration-500 ease-in-out rounded-md shadow-md outline-none bg-primary-900 text-basics-050 hover:bg-primary-700 hover:text-basics-050 hover:shadow-sm focus:shadow-outline;
  }
  .btn-secondary {
    @apply px-6 py-2 font-bold leading-loose transition duration-500 ease-in-out rounded-md shadow-md outline-none text-primary-900 hover:text-primary-050 bg-basics-050 hover:bg-primary-700 hover:shadow-sm focus:shadow-outline;
  }
  .links-secondary {
    @apply transition-colors text-basics-050 hover:text-basics-050 hover:underline;
  }
  .vertical-text-clip {
    background-color: #4b0a75;
    background-image: linear-gradient(180deg, #5e1286 0%, #c5235d 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vertical-clip {
    background-color: #4b0a75;
    background: radial-gradient(
      46.71% 197.88% at 50% 43.5%,
      #b42164 0%,
      #4b0a75 100%
    );
  }
}
