rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if belongsTo(userId);

      match /bookmarked/{bookmarkedId} {
        allow read, write: if belongsTo(userId);
      }

      match /completed/{completedId} {
        allow read, write: if belongsTo(userId);
      }
    }

    //Stripe
    match /stripe-customers/{uid} {
      allow read: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == uid;
      }
      match /payments/{id} {
        allow read: if request.auth.uid == uid;
      }
    }

    match /stripe-products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }

    function belongsTo(userId) {    
      return request.auth.uid == userId;
    }
  }
}