@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'nunito';
    font-style: normal;
    src: url(../fonts/Nunito-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Henny Penny';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/HennyPenny-Regular.ttf) format('truetype');
  }

  h1 {
    @apply leading-loose text-7xl font-heading;
  }
  h2 {
    @apply text-6xl leading-loose font-heading;
  }
  h3 {
    @apply text-5xl leading-loose font-heading;
  }
  h4 {
    @apply text-4xl leading-loose font-heading;
  }
  h5 {
    @apply text-3xl leading-loose font-heading;
  }
  h6 {
    @apply text-2xl leading-loose font-heading;
  }
}

@layer components {
  .vertical-text-clip {
    background-color: #4b0a75;
    background-image: linear-gradient(180deg, #5e1286 0%, #c5235d 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vertical-clip {
    background-color: #4b0a75;
    background-image: linear-gradient(180deg, #5e1286 0%, #c5235d 100%);
    background-size: 100%;
    background-repeat: repeat;
  }
}
