@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a {
		@apply underline;
	}
}
.code-author-1 {
	grid-template-rows: 190px 1fr;
}
.code-author-2 {
	grid-template-rows: 190px 190px 1fr;
}
.code-author-3 {
	grid-template-rows: 190px 190px 1fr;
}

.overlay-top {
	background-image: url(https://media.codingcat.dev/image/upload/v1656721305/main-codingcatdev-photo/overlay-top.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.chat-message img {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	width: 24px;
}

.command-display {
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom-width: 0;
	border-right-width: 0;
	border-radius: 10px 0 0 0;
	max-width: 415px;
	padding: 15px 15px 5px;
	opacity: 0;
	transition: 600ms opacity linear;
	width: 100%;
  }
  
  .command-display.visible {
	opacity: 1;
  }
  
  .command-image {
	border: 1px solid black;
	border-radius: 6px;
	display: block;
	width: 100%;
  }