@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay-top {
	background-image: url(https://media.codingcat.dev/image/upload/v1656721305/main-codingcatdev-photo/overlay-top.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

  
  .chat-message img {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	width: 24px;
  }
  