@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-VariableFont_wght.ttf');
	font-display: swap;
}

::-webkit-scrollbar {
	@apply h-2;
}

html,
body {
	@apply h-full overflow-hidden;
}

/* Page Styles */
/* Use these to define common page styles. */
.page-container {
	@apply container mx-auto page-padding space-y-10;
}
.page-container-wide {
	@apply w-full max-w-7xl mx-auto space-y-10;
}
.page-container-aside {
	@apply w-full max-w-4xl mx-auto space-y-10;
}
.page-padding {
	@apply p-4 md:p-10;
}
.page-section {
	@apply space-y-4;
}

/* Label Text Override */
label:not(.unstyled) span:first-of-type:not(.unstyled):is(:not(.input-chip *)) {
	@apply text-surface-700-200-token text-sm;
}

/* Heading Permalinks */
.permalink {
	@apply w-0 invisible inline-block text-base pl-2 -translate-y-1;
}
h1:hover .permalink,
h2:hover .permalink,
h3:hover .permalink,
h4:hover .permalink,
h5:hover .permalink,
h6:hover .permalink {
	@apply visible w-auto;
}

[data-theme='codingcatdev'] h1,
[data-theme='codingcatdev'] h2,
[data-theme='codingcatdev'] h3,
[data-theme='codingcatdev'] h4,
[data-theme='codingcatdev'] h5,
[data-theme='codingcatdev'] h6,
[data-theme='codingcatdev'] a,
[data-theme='codingcatdev'] button {
	font-weight: bold;
}

.grid-cols-fit {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
